# EDA

Before we can attempt to implement a model, we must perform exploratory data analysis. This will allow us to better understand the data that was given to us.

In [59]:
# Import Necessary modules 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
# Import data
raw_data = pd.read_csv("../data/ucsbdata.csv")

In [6]:
# Initial observations 
raw_data.head(5)

,Index,R,US10YR,EPS,PER,OPEN,HIGH,LOW,CLOSE,BDIY,...,MYSTERYVAR3,TOM,HULBERTSENTIMENT,BUBBLE,CASH,DEBT,DIVIDEND,RETURN,STOCKS,WAR
0,1952-01-02,NaN,NaN,2.44,9.754098,23.80,23.80,23.80,23.80,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1952-01-03,NaN,NaN,2.44,9.786885,23.88,23.88,23.88,23.88,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952-01-04,NaN,NaN,2.44,9.803279,23.92,23.92,23.92,23.92,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1952-01-07,NaN,NaN,2.44,9.799180,23.91,23.91,23.91,23.91,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1952-01-08,NaN,NaN,2.44,9.762295,23.82,23.82,23.82,23.82,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Number of Observations and missing values
print("Number of observations:", len(raw_data.Index))
print("Number of variables:", len(raw_data.columns))
print("Number of missing values:", np.count_nonzero(raw_data.isnull()))
print("Number of observations with missing values:", raw_data.isnull().any(axis=1).sum())

Number of observations: 16863
Number of variables: 68
Number of missing values: 377472
Number of observations with missing values: 13848

In [29]:
# Return df will all the missing values
raw_data[raw_data.isnull().any(axis=1)]

,Index,R,US10YR,EPS,PER,OPEN,HIGH,LOW,CLOSE,BDIY,...,MYSTERYVAR3,TOM,HULBERTSENTIMENT,BUBBLE,CASH,DEBT,DIVIDEND,RETURN,STOCKS,WAR
0,1952-01-02,NaN,NaN,2.44,9.754098,23.80,23.80,23.80,23.80,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1952-01-03,NaN,NaN,2.44,9.786885,23.88,23.88,23.88,23.88,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952-01-04,NaN,NaN,2.44,9.803279,23.92,23.92,23.92,23.92,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1952-01-07,NaN,NaN,2.44,9.799180,23.91,23.91,23.91,23.91,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1952-01-08,NaN,NaN,2.44,9.762295,23.82,23.82,23.82,23.82,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1952-01-09,NaN,NaN,2.44,9.729508,23.74,23.74,23.74,23.74,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1952-01-10,NaN,NaN,2.44,9.778689,23.86,23.86,23.86,23.86,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1952-01-11,NaN,NaN,2.43,9.868313,23.98,23.98,23.98,23.98,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1952-01-14,NaN,NaN,2.43,9.942387,24.16,24.16,24.16,24.16,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1952-01-15,NaN,NaN,2.43,9.901235,24.06,24.06,24.06,24.06,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1952-01-16,NaN,NaN,2.43,9.913580,24.09,24.09,24.09,24.09,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1952-01-17,NaN,NaN,2.43,9.958848,24.20,24.20,24.20,24.20,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1952-01-18,NaN,NaN,2.43,9.979424,24.25,24.25,24.25,24.25,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1952-01-21,NaN,NaN,2.43,10.065844,24.46,24.46,24.46,24.46,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1952-01-22,NaN,NaN,2.43,10.148148,24.66,24.66,24.66,24.66,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1952-01-23,NaN,NaN,2.43,10.098765,24.54,24.54,24.54,24.54,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1952-01-24,NaN,NaN,2.43,10.106996,24.56,24.56,24.56,24.56,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1952-01-25,NaN,NaN,2.43,10.102881,24.55,24.55,24.55,24.55,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1952-01-28,NaN,NaN,2.43,10.127572,24.61,24.61,24.61,24.61,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1952-01-29,NaN,NaN,2.43,10.111111,24.57,24.57,24.57,24.57,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1952-01-30,NaN,NaN,2.43,9.971193,24.23,24.23,24.23,24.23,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1952-01-31,NaN,NaN,2.43,9.934156,24.14,24.14,24.14,24.14,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1952-02-01,NaN,NaN,2.42,10.041322,24.30,24.30,24.30,24.30,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1952-02-04,NaN,NaN,2.42,9.966942,24.12,24.12,24.12,24.12,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1952-02-05,NaN,NaN,2.42,9.962810,24.11,24.11,24.11,24.11,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1952-02-06,NaN,NaN,2.42,9.991736,24.18,24.18,24.18,24.18,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1952-02-07,NaN,NaN,2.42,9.962810,24.11,24.11,24.11,24.11,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1952-02-08,NaN,NaN,2.42,10.016529,24.24,24.24,24.24,24.24,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1952-02-11,NaN,NaN,2.42,9.962810,24.11,24.11,24.11,24.11,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1952-02-13,NaN,NaN,2.42,9.884298,23.92,23.92,23.92,23.92,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13818,2006-11-24,-0.014037,4.5480,77.21,18.144670,1405.94,1405.94,1399.25,1400.95,4185.0,...,12.092452,0,70.8,75.051710,87.008738,56.933457,40.374640,21.455491,49.495625,58.908917
13819,2006-11-27,0.004135,4.5285,77.22,17.895623,1400.95,1400.95,1381.44,1381.90,4208.0,...,12.104831,1,70.8,82.151196,79.489464,42.895070,37.927693,20.630280,37.925219,58.908917
13820,2006-11-28,0.010186,4.5011,77.22,17.958042,1381.61,1387.91,1377.83,1386.72,4255.0,...,12.184211,1,68.6,75.051710,88.082920,65.512471,42.209851,22.555772,48.210024,65.641364
13821,2006-11-29,0.000238,4.5206,77.22,18.123284,1386.11,1401.14,1386.11,1399.48,4298.0,...,12.195713,1,61.9,75.051710,83.786192,67.852202,43.433325,23.931124,50.138425,66.482920
13822,2006-11-30,-0.002398,4.4581,77.14,18.156987,1399.47,1406.30,1393.83,1400.63,4336.0,...,12.127364,1,58.9,78.094347,92.379648,69.412023,48.327221,22.005632,53.352427,68.166032
13823,2006-12-01,0.007413,4.4327,77.15,18.103824,1400.63,1402.46,1385.93,1396.71,4369.0,...,12.135786,1,58.9,76.065923,85.934556,57.713368,36.704219,23.931124,53.352427,64.799808
13824,2006-12-04,0.004120,4.4229,77.12,18.271784,1396.67,1411.23,1396.67,1409.12,4400.0,...,12.163492,0,58.9,84.179621,90.231284,59.273188,37.927693,23.380984,53.352427,61.433584
13825,2006-12-05,-0.001034,4.4403,77.12,18.344917,1409.10,1415.27,1408.78,1414.76,4407.0,...,12.023923,0,58.9,78.094347,91.305466,56.153547,40.986377,25.031406,48.852825,63.116696
13826,2006-12-06,-0.004570,4.4851,77.12,18.320799,1414.40,1415.93,1411.05,1412.90,4367.0,...,11.991817,0,58.9,75.051710,90.231284,67.852202,56.279802,24.206195,55.923628,63.116696
13827,2006-12-07,0.001653,4.4811,77.13,18.245689,1412.86,1418.27,1406.80,1407.29,4323.0,...,11.961055,0,58.9,81.136984,92.379648,64.732561,61.173698,25.581547,50.138425,66.482920
13828,2006-12-08,0.002708,4.5437,77.13,18.278750,1407.27,1414.09,1403.67,1409.84,4294.0,...,12.000000,0,58.9,84.179621,88.082920,59.273188,45.880273,23.656054,47.567224,66.482920
13829,2006-12-11,-0.000962,4.5182,77.14,18.317864,1409.81,1415.60,1408.56,1413.04,4275.0,...,11.998793,0,58.9,80.122772,90.231284,53.813816,38.539430,23.380984,47.567224,65.641364
13830,2006-12-12,0.000871,4.4848,77.14,18.298678,1413.00,1413.78,1404.75,1411.56,4270.0,...,12.025210,0,58.9,74.037498,89.157102,59.273188,54.444591,24.206195,46.924424,63.958252
13831,2006-12-13,0.008586,4.5791,77.14,18.320067,1411.32,1416.64,1411.05,1413.21,4294.0,...,12.041259,0,58.9,80.122772,92.379648,60.053099,53.221117,25.306476,43.710422,63.958252
13832,2006-12-14,-0.000094,4.5968,77.13,18.481654,1413.16,1427.23,1413.16,1425.49,4307.0,...,12.045120,0,58.9,87.222258,84.860374,52.253995,51.385906,22.830843,51.424026,63.116696
13833,2006-12-15,-0.002930,4.5928,77.13,18.502399,1425.48,1431.63,1425.48,1427.09,4318.0,...,12.022531,0,58.9,88.236470,90.231284,62.392830,45.268536,23.105913,52.709627,61.433584
13834,2006-12-18,0.001713,4.5809,77.05,18.461778,1427.08,1431.81,1420.65,1422.48,4324.0,...,12.005990,0,58.9,95.335956,90.231284,44.454891,47.103747,21.730561,47.567224,57.225805
13835,2006-12-19,-0.000750,4.5888,77.05,18.501622,1422.42,1428.30,1414.88,1425.55,4330.0,...,12.000635,0,58.9,84.179621,95.602194,49.134353,34.869008,23.656054,45.638823,55.542693
13836,2006-12-20,-0.003852,4.5947,77.03,18.480203,1425.51,1429.05,1423.51,1423.53,4336.0,...,12.017262,0,58.9,85.193833,87.008738,48.354443,36.704219,20.905350,49.495625,56.384249
13837,2006-12-21,-0.006350,4.5454,77.03,18.412307,1423.20,1426.40,1415.90,1418.30,4362.0,...,12.018492,0,58.9,79.108560,88.082920,51.474085,43.433325,21.455491,44.996023,53.018025
13838,2006-12-22,0.005692,4.6185,77.03,18.314423,1418.10,1418.82,1410.28,1410.76,4397.0,...,12.053696,0,58.9,93.307532,91.305466,52.253995,48.327221,21.180420,51.424026,51.334913
13839,2006-12-26,0.006359,4.5986,77.03,18.394132,1410.75,1417.91,1410.45,1416.90,4397.0,...,12.089789,1,58.9,100.407018,82.712010,40.555339,31.810323,21.180420,48.210024,48.810245
13840,2006-12-27,-0.002296,4.6503,77.04,18.520768,1416.63,1427.72,1416.63,1426.84,4397.0,...,12.089548,1,64.9,77.080135,82.712010,42.895070,44.045062,24.481265,52.709627,54.701137
13841,2006-12-28,-0.004347,4.6802,77.05,18.490980,1426.77,1427.26,1422.05,1424.73,4397.0,...,12.045216,1,65.3,72.009073,94.528012,51.474085,40.374640,23.380984,48.852825,49.651801
13842,2006-12-29,-0.001957,4.7022,77.09,18.397976,1424.71,1427.00,1416.72,1418.30,4397.0,...,12.062566,1,65.3,69.980649,88.082920,49.914264,49.550695,25.856617,60.423231,51.334913
13890,2007-03-13,0.007232,4.4907,81.51,16.905288,1406.23,1406.23,1377.71,1377.95,5069.0,...,12.206492,0,21.6,76.309546,84.822184,62.519454,49.284443,31.158303,50.394526,56.614894
14034,2007-10-05,-0.005490,4.6356,79.82,19.513781,1543.84,1561.91,1543.84,1557.59,9535.0,...,12.246288,0,40.2,88.992165,80.770069,69.104062,52.090317,24.510614,49.582250,50.809843
14035,2007-10-08,0.009222,4.6356,79.90,19.431539,1556.51,1556.51,1549.00,1552.58,9665.0,...,12.157700,0,49.9,100.244048,84.710073,61.673518,42.168352,23.085579,51.418629,54.025656
14059,2007-11-09,-0.010095,4.2133,80.17,18.132718,1467.59,1474.09,1448.51,1453.70,10867.0,...,12.388948,0,-1.2,99.013976,84.163354,66.128680,45.127610,21.684532,56.116397,59.290817
14060,2007-11-12,0.021365,4.2133,80.17,17.951603,1453.66,1464.94,1438.53,1439.18,10995.0,...,12.435739,0,-2.5,118.225643,91.677939,60.315170,34.760456,22.518552,58.144701,57.895739

There are a significant amount of missing values in the dataset. The first year with complete observations is 2008. This would allow us to create a model after the crash of the 2008 recession. However, if we wanted to work with years prior to 2008, we need to further analyze the missing values in the dataset. 

## Post Market Crash

The most recent US recession occerd in 2008. September 29, 2008 was the day the stock market crashed. Since this infamous day, there have been no such significant drop or gains with the stocks. We will assume the stock will not crash during this time of the contest. Our first model will consist of data from September 29, 2008 to the end of 2018. This will roughly give us 10 years worth of data.

In [57]:
# Create dataset after stock market crash
initial_start = '2008-08-30'
stock_data1 = raw_data.loc[raw_data.Index > initial_start]
stock_data1.head(10)

,Index,R,US10YR,EPS,PER,OPEN,HIGH,LOW,CLOSE,BDIY,...,MYSTERYVAR3,TOM,HULBERTSENTIMENT,BUBBLE,CASH,DEBT,DIVIDEND,RETURN,STOCKS,WAR
14262,2008-09-02,-0.000925,3.7326,49.78,25.664524,1287.83,1303.04,1272.20,1277.58,6466.0,...,12.805545,1,11.7,102.145351,80.224149,52.613405,42.572673,20.866767,32.085132,43.392387
14263,2008-09-03,-0.021012,3.6990,49.78,25.612294,1276.61,1280.60,1265.59,1274.98,6146.0,...,12.747167,0,-2.1,87.724831,76.736143,59.870426,37.019715,22.681269,35.522825,40.981699
14264,2008-09-04,0.003075,3.6227,49.76,24.855908,1271.80,1271.80,1232.83,1236.83,5874.0,...,12.790740,0,-2.1,96.136801,81.386818,62.591809,45.040654,21.169184,36.668722,43.995059
14265,2008-09-05,0.020380,3.6986,49.76,24.966037,1233.21,1244.94,1217.23,1242.31,5663.0,...,12.944056,0,-2.1,99.741931,81.386818,61.684682,42.572673,20.866767,38.960517,44.597731
14266,2008-09-08,-0.021026,3.6743,49.75,25.483216,1249.50,1274.42,1247.12,1267.79,5492.0,...,12.891218,0,-9.0,98.540221,80.224149,54.427660,45.040654,20.564351,38.960517,47.611092
14267,2008-09-09,0.003986,3.5668,49.75,24.613266,1267.98,1268.66,1224.51,1224.51,5255.0,...,12.793818,0,-19.4,93.733381,84.874825,63.498937,37.019715,20.564351,42.398210,46.405748
14268,2008-09-10,0.014302,3.6295,49.75,24.764623,1227.50,1243.90,1221.60,1232.04,5026.0,...,12.938765,0,-19.4,94.935091,81.386818,68.941703,38.253706,23.588520,45.835903,47.008420
14269,2008-09-11,0.004553,3.6425,51.64,24.187645,1229.04,1249.98,1211.54,1249.05,4893.0,...,12.891278,0,-26.3,93.733381,82.549487,65.313192,45.040654,22.983686,41.252313,45.803076
14270,2008-09-12,-0.021058,3.7187,51.64,24.238962,1245.88,1255.09,1233.81,1251.70,4800.0,...,12.843551,0,-26.3,102.145351,81.386818,57.149043,47.508635,22.378852,43.544108,48.213764
14271,2008-09-15,0.016565,3.3868,51.62,23.105386,1250.92,1250.92,1192.70,1192.70,4747.0,...,12.888812,0,-19.4,109.355612,84.874825,59.870426,41.955678,21.471601,38.960517,48.816436

## Feature Selection

Our data is considered high dimension since it consists of 67 varaibles plus our target variable of prediction. In order for our model to run effectivly, we need to only select the varaibles that have the most influence in predicitng our desired variable. We will attempt various feature selection models to select the variable for our model

In [61]:
# Remove Data Dates and store dates
data_dates = stock_data1['Index']
data_dates.head(5)

14262    2008-09-02
14263    2008-09-03
14264    2008-09-04
14265    2008-09-05
14266    2008-09-08
Name: Index, dtype: object

In [65]:
# Remove data dates from our current complete dataset
no_dates = stock_data1.drop(columns=['Index'])
no_dates.head(5)

,R,US10YR,EPS,PER,OPEN,HIGH,LOW,CLOSE,BDIY,VIX,...,MYSTERYVAR3,TOM,HULBERTSENTIMENT,BUBBLE,CASH,DEBT,DIVIDEND,RETURN,STOCKS,WAR
14262,-0.000925,3.7326,49.78,25.664524,1287.83,1303.04,1272.20,1277.58,6466.0,21.99,...,12.805545,1,11.7,102.145351,80.224149,52.613405,42.572673,20.866767,32.085132,43.392387
14263,-0.021012,3.6990,49.78,25.612294,1276.61,1280.60,1265.59,1274.98,6146.0,21.43,...,12.747167,0,-2.1,87.724831,76.736143,59.870426,37.019715,22.681269,35.522825,40.981699
14264,0.003075,3.6227,49.76,24.855908,1271.80,1271.80,1232.83,1236.83,5874.0,24.03,...,12.790740,0,-2.1,96.136801,81.386818,62.591809,45.040654,21.169184,36.668722,43.995059
14265,0.020380,3.6986,49.76,24.966037,1233.21,1244.94,1217.23,1242.31,5663.0,23.06,...,12.944056,0,-2.1,99.741931,81.386818,61.684682,42.572673,20.866767,38.960517,44.597731
14266,-0.021026,3.6743,49.75,25.483216,1249.50,1274.42,1247.12,1267.79,5492.0,22.64,...,12.891218,0,-9.0,98.540221,80.224149,54.427660,45.040654,20.564351,38.960517,47.611092

In [66]:
# The variable that we are interested in predicting
actual_returns = stock_data1['R']
actual_returns.head(5)

14262   -0.000925
14263   -0.021012
14264    0.003075
14265    0.020380
14266   -0.021026
Name: R, dtype: float64

In [67]:
# The feature variables
feature_variables = stock_data1.drop(columns=['Index', 'R'])
feature_variables.head(5)

,US10YR,EPS,PER,OPEN,HIGH,LOW,CLOSE,BDIY,VIX,PCR,...,MYSTERYVAR3,TOM,HULBERTSENTIMENT,BUBBLE,CASH,DEBT,DIVIDEND,RETURN,STOCKS,WAR
14262,3.7326,49.78,25.664524,1287.83,1303.04,1272.20,1277.58,6466.0,21.99,0.69,...,12.805545,1,11.7,102.145351,80.224149,52.613405,42.572673,20.866767,32.085132,43.392387
14263,3.6990,49.78,25.612294,1276.61,1280.60,1265.59,1274.98,6146.0,21.43,0.68,...,12.747167,0,-2.1,87.724831,76.736143,59.870426,37.019715,22.681269,35.522825,40.981699
14264,3.6227,49.76,24.855908,1271.80,1271.80,1232.83,1236.83,5874.0,24.03,0.79,...,12.790740,0,-2.1,96.136801,81.386818,62.591809,45.040654,21.169184,36.668722,43.995059
14265,3.6986,49.76,24.966037,1233.21,1244.94,1217.23,1242.31,5663.0,23.06,0.78,...,12.944056,0,-2.1,99.741931,81.386818,61.684682,42.572673,20.866767,38.960517,44.597731
14266,3.6743,49.75,25.483216,1249.50,1274.42,1247.12,1267.79,5492.0,22.64,0.77,...,12.891218,0,-9.0,98.540221,80.224149,54.427660,45.040654,20.564351,38.960517,47.611092

### PCA

Although PCA is not considered a feature selection tool, we will attmept to use the transformed data in our model.